<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Transaction</title>
</head>
<body>
<h1>Транзакции!</h1>
<table class="table table-dark table-hover" style="margin: 1em">
    <tr>
        <td>№</td>
        <td>Сообщение о транзакции</td>
    </tr>
    {% for key, value in temp.iterrows %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{value.transaction_mess}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>